.bank-details-title {
    width: 203px;
    height: 22px;
    margin-bottom: 32px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #222222;
    opacity: 0.9;
}

.input-m {
    box-sizing: border-box;
    width: 248px;
    height: 52px;
    padding-left: 20px;
    border: 1px solid #E4E5E7;
    border-radius: 7px;

    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
}

.input-m::placeholder {
    color: #999999;
    opacity: 0.7;
}

.info-wrapper {
    height: 52px;
    display: flex;
    align-items: center;
}

.info {
    color: #5795FD;
}

.tooltip {
    padding: 12px;
    box-sizing: border-box;
    height: 58px;
    left: 589px;
    top: 220px;
    background: rgba(75, 180, 233, 0.05);
    border: 1px solid rgba(75, 180, 233, 0.5);
    border-radius: 7px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    color: #5E5E58;
    z-index: 1000;
}

.btn-new-details {
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #3E85FD;
    opacity: 0.87;
    border: none;
    background-color: white;
}

.bank-details-btn-wrapper {
    width: 720px;
    display: flex;
    justify-content: space-between;
}

.bank-details-btn {
    width: 100px;
}